<html>
    <head>
        <link href="https://cdn.bootcss.com/semantic-ui/2.2.11/semantic.min.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/semantic-ui/2.2.11/components/grid.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="ui middle aligned one column grid">
            <div class="ui four wide column centered">
                <form class="ui form" method="POST" action="/v1/signin">
                    <h4 class="ui dividing centered header">登录</h4>
                    <div class="two ggfields">
                        <div class="field">
                            <label>Email</label>
                            <input type="text" placeholder="email" name="email">
                        </div>
                        <div class="field">
                            <label>Password</label>
                            <input type="password" placeholder="password" name="password">
                        </div>
                    </div>
                    <input class="ui primary button signin-button" type="submit" value="Submmit">
                </form>
            </div>
        </div>
    </body>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/semantic-ui/2.2.11/semantic.min.js"></script>
</html>